# Executables
build/
*.exe
__pycache__/
hop/*/v0/
hop/*/v1/
hop/analysis/*/v0/
hop/analysis/*/v1/
diabatz/analysis/*/v0/
diabatz/analysis/*/v1/

# slurm output
slurm*

# Large *vibronics* intermediate files
vibration*.in
*.wfn

# Back up
BAK/

# Documents
Manuscript*/
Reference/
*.xlsx
